<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/estilos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <!-- Este es el navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a href="./productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a href="./ofertas.html">Ofertas</a>
            </li>
            <li class="nav-item">
              <a href="./contacto.html">Ubicacion</a>
            </li>
            <li class="nav-item">
              <a href="./acerca.html">Acerca</a>
            </li>
          </ul>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-- En el Main damos una explicacion de quienes somos -->
  <main>
    <h2>Acerca de Nosotros</h2>
    <div class="info-container">
      <div class="info">
        <img class="localbg" src="./img/sonriente.jpg" alt="local">
      </div>
      <div class="info-text">
        <p>En nuestro local de venta de alimentos para mascotas, nos apasiona ayudar a los dueños de mascotas a
          proporcionarles la mejor nutrición posible. Sabemos lo importante que es para ti asegurarte de que tu mascota
          esté sana y feliz, y por eso nos esforzamos por ofrecerte solo los mejores productos.
          Tenemos una amplia selección de alimentos para mascotas de alta calidad, incluyendo opciones para perros,
          gatos y otras mascotas. Desde alimentos secos hasta comidas húmedas y refrigeradas, siempre encontrarás algo
          que se adapte a las necesidades dietéticas de tu mascota.
    
          Además de alimentos, también ofrecemos una variedad de productos para el cuidado de mascotas, incluyendo juguetes, productos de higiene y otros accesorios. Nos aseguramos de que todos los productos que ofrecemos sean seguros y de alta calidad, para que puedas estar seguro de que estás obteniendo lo mejor para tu mascota.
          Nuestro equipo está formado por amantes de las mascotas, y estamos siempre dispuestos a ayudarte a elegir los productos adecuados para tu amigo peludo. Si tienes alguna pregunta o necesitas asesoramiento, no dudes en preguntarnos.

          Ven a visitarnos y descubre por qué somos el lugar perfecto para encontrar los mejores alimentos para tu mascota. Estamos seguros de que te encantará nuestra selección de productos y nuestro servicio excepcional. ¡Esperamos verte pronto en nuestro local!</p>
      </div>
    </div>
  </main>
  <!-- Este es el footer -->
  <footer>
    <p>Patitas Can</p>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>    
    